<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>index</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2"></div>
                <div class="col col-12 col-sm-8">
                    <br><br><br>
                    <h2 class="text-center"> SUBMISSION FORM</h2>
                    <br>
                        <table class="table table-borderless">
                            <tr>
                                <td>Name read:</td>
                                <td><%= details.uname %></td>
                            </tr>
                            <tr>
                                <td>Rollno read:</td>
                                <td><%= details.urollno %></td>
                            </tr>
                            <tr>
                                <td>AdminNo read:</td>
                                <td><%= details.uadminno %></td>
                            </tr>


                        </table>
                </div>
                <div class="col col-12 col-sm-2"></div>
            </div>
        </div>
    </div>
</body>
</html>